*.asv
compare_solvers_Jan_11_2019_112533_time_gradnorm.pdf
compare_solvers_Jan_11_2019_112533_time_gradnorm.fig
compare_solvers_Jan_11_2019_112533_iter_gradnorm.pdf
compare_solvers_Jan_11_2019_112533_iter_gradnorm.fig
compare_solvers_Jan_11_2019_112533_gradhesscalls_gradnorm.pdf
compare_solvers_Jan_11_2019_112533_gradhesscalls_gradnorm.fig
compare_solvers_Jan_11_2019_111521_time_gradnorm.pdf
compare_solvers_Jan_11_2019_111521_time_gradnorm.fig
compare_solvers_Jan_11_2019_111521_iter_gradnorm.pdf
compare_solvers_Jan_11_2019_111521_iter_gradnorm.fig
compare_solvers_Jan_11_2019_111521_gradhesscalls_gradnorm.pdf
compare_solvers_Jan_11_2019_111521_gradhesscalls_gradnorm.fig
compare_solvers_Jan_11_2019_111227_time_gradnorm.pdf
compare_solvers_Jan_11_2019_111227_time_gradnorm.fig
compare_solvers_Jan_11_2019_111227_iter_gradnorm.pdf
compare_solvers_Jan_11_2019_111227_iter_gradnorm.fig
compare_solvers_Jan_11_2019_111227_gradhesscalls_gradnorm.pdf
compare_solvers_Jan_11_2019_111227_gradhesscalls_gradnorm.fig
compare_solvers_Aug_19_2019_081836_time_gradnorm.pdf
compare_solvers_Aug_19_2019_081836_time_gradnorm.fig
compare_solvers_Aug_19_2019_081836_iter_gradnorm.pdf
compare_solvers_Aug_19_2019_081836_iter_gradnorm.fig
compare_solvers_Aug_19_2019_081836_gradhesscalls_gradnorm.pdf
compare_solvers_Aug_19_2019_081836_gradhesscalls_gradnorm.fig
compare_solvers_Aug_17_2019_102032_time_gradnorm.pdf
compare_solvers_Aug_17_2019_102032_time_gradnorm.fig
compare_solvers_Aug_17_2019_102032_iter_gradnorm.pdf
compare_solvers_Aug_17_2019_102032_iter_gradnorm.fig
compare_solvers_Aug_17_2019_102032_gradhesscalls_gradnorm.pdf
compare_solvers_Aug_17_2019_102032_gradhesscalls_gradnorm.fig
compare_solvers_Aug_17_2019_101446_time_gradnorm.pdf
compare_solvers_Aug_17_2019_101446_time_gradnorm.fig
compare_solvers_Aug_17_2019_101446_iter_gradnorm.pdf
compare_solvers_Aug_17_2019_101446_iter_gradnorm.fig
compare_solvers_Aug_17_2019_101446_gradhesscalls_gradnorm.pdf
compare_solvers_Aug_17_2019_101446_gradhesscalls_gradnorm.fig
compare_solvers_Aug_17_2019_100721_time_gradnorm.pdf
compare_solvers_Aug_17_2019_100721_time_gradnorm.fig
compare_solvers_Aug_17_2019_100721_iter_gradnorm.pdf
compare_solvers_Aug_17_2019_100721_iter_gradnorm.fig
compare_solvers_Aug_17_2019_100721_gradhesscalls_gradnorm.pdf
compare_solvers_Aug_17_2019_100721_gradhesscalls_gradnorm.fig
compare_solvers_Aug_17_2019_100126_time_gradnorm.pdf
compare_solvers_Aug_17_2019_100126_time_gradnorm.fig
compare_solvers_Aug_17_2019_100126_iter_gradnorm.pdf
compare_solvers_Aug_17_2019_100126_iter_gradnorm.fig
compare_solvers_Aug_17_2019_100126_gradhesscalls_gradnorm.pdf
compare_solvers_Aug_17_2019_100126_gradhesscalls_gradnorm.fig
compare_solvers_Aug_17_2019_085514_time_gradnorm.pdf
compare_solvers_Aug_17_2019_085514_time_gradnorm.fig
compare_solvers_Aug_17_2019_085514_iter_gradnorm.pdf
compare_solvers_Aug_17_2019_085514_iter_gradnorm.fig
compare_solvers_Aug_17_2019_085514_gradhesscalls_gradnorm.pdf
compare_solvers_Aug_17_2019_085514_gradhesscalls_gradnorm.fig
compare_solvers_Aug_16_2019_104717_time_gradnorm.pdf
compare_solvers_Aug_16_2019_104717_time_gradnorm.fig
compare_solvers_Aug_16_2019_104717_iter_gradnorm.pdf
compare_solvers_Aug_16_2019_104717_iter_gradnorm.fig
compare_solvers_Aug_16_2019_104717_gradhesscalls_gradnorm.pdf
compare_solvers_Aug_16_2019_104717_gradhesscalls_gradnorm.fig
compare_solvers_Aug_16_2019_104031_time_gradnorm.pdf
compare_solvers_Aug_16_2019_104031_time_gradnorm.fig
compare_solvers_Aug_16_2019_104031_iter_gradnorm.pdf
compare_solvers_Aug_16_2019_104031_iter_gradnorm.fig
compare_solvers_Aug_16_2019_104031_gradhesscalls_gradnorm.pdf
compare_solvers_Aug_16_2019_104031_gradhesscalls_gradnorm.fig
compare_solvers_Aug_16_2019_102747_time_gradnorm.pdf
compare_solvers_Aug_16_2019_102747_time_gradnorm.fig
compare_solvers_Aug_16_2019_102747_iter_gradnorm.pdf
compare_solvers_Aug_16_2019_102747_iter_gradnorm.fig
compare_solvers_Aug_16_2019_102747_gradhesscalls_gradnorm.pdf
compare_solvers_Aug_16_2019_102747_gradhesscalls_gradnorm.fig
compare_solvers_Aug_16_2019_101956_time_gradnorm.pdf
compare_solvers_Aug_16_2019_101956_time_gradnorm.fig
compare_solvers_Aug_16_2019_101956_iter_gradnorm.pdf
compare_solvers_Aug_16_2019_101956_iter_gradnorm.fig
compare_solvers_Aug_16_2019_101956_gradhesscalls_gradnorm.pdf
compare_solvers_Aug_16_2019_101956_gradhesscalls_gradnorm.fig
compare_solvers_Aug_16_2019_100012_time_gradnorm.pdf
compare_solvers_Aug_16_2019_100012_time_gradnorm.fig
compare_solvers_Aug_16_2019_100012_iter_gradnorm.pdf
compare_solvers_Aug_16_2019_100012_iter_gradnorm.fig
compare_solvers_Aug_16_2019_100012_gradhesscalls_gradnorm.pdf
compare_solvers_Aug_16_2019_100012_gradhesscalls_gradnorm.fig
compare_solvers_Aug_16_2019_094304_time_gradnorm.pdf
compare_solvers_Aug_16_2019_094304_time_gradnorm.fig
compare_solvers_Aug_16_2019_094304_iter_gradnorm.pdf
compare_solvers_Aug_16_2019_094304_iter_gradnorm.fig
compare_solvers_Aug_16_2019_094304_gradhesscalls_gradnorm.pdf
compare_solvers_Aug_16_2019_094304_gradhesscalls_gradnorm.fig
compare_solvers_Aug_16_2019_091841_time_gradnorm.pdf
compare_solvers_Aug_16_2019_091841_time_gradnorm.fig
compare_solvers_Aug_16_2019_091841_iter_gradnorm.pdf
compare_solvers_Aug_16_2019_091841_iter_gradnorm.fig
compare_solvers_Aug_16_2019_091841_gradhesscalls_gradnorm.pdf
compare_solvers_Aug_16_2019_091841_gradhesscalls_gradnorm.fig
compare_solvers_Aug_16_2019_090609_time_gradnorm.pdf
compare_solvers_Aug_16_2019_090609_time_gradnorm.fig
compare_solvers_Aug_16_2019_090609_iter_gradnorm.pdf
compare_solvers_Aug_16_2019_090609_iter_gradnorm.fig
compare_solvers_Aug_16_2019_090609_gradhesscalls_gradnorm.pdf
compare_solvers_Aug_16_2019_090609_gradhesscalls_gradnorm.fig
compare_solvers_Aug_16_2019_085829_time_gradnorm.pdf
compare_solvers_Aug_16_2019_085829_time_gradnorm.fig
compare_solvers_Aug_16_2019_085829_iter_gradnorm.pdf
compare_solvers_Aug_16_2019_085829_iter_gradnorm.fig
compare_solvers_Aug_16_2019_085829_gradhesscalls_gradnorm.pdf
compare_solvers_Aug_16_2019_085829_gradhesscalls_gradnorm.fig
compare_solvers_Aug_16_2019_085403_time_gradnorm.pdf
compare_solvers_Aug_16_2019_085403_time_gradnorm.fig
compare_solvers_Aug_16_2019_085403_iter_gradnorm.pdf
compare_solvers_Aug_16_2019_085403_iter_gradnorm.fig
compare_solvers_Aug_16_2019_085403_gradhesscalls_gradnorm.pdf
compare_solvers_Aug_16_2019_085403_gradhesscalls_gradnorm.fig
compare_solvers_Aug_16_2019_084539_time_gradnorm.pdf
compare_solvers_Aug_16_2019_084539_time_gradnorm.fig
compare_solvers_Aug_16_2019_084539_iter_gradnorm.pdf
compare_solvers_Aug_16_2019_084539_iter_gradnorm.fig
compare_solvers_Aug_16_2019_084539_gradhesscalls_gradnorm.pdf
compare_solvers_Aug_16_2019_084539_gradhesscalls_gradnorm.fig
compare_solvers_Aug_16_2019_083029_time_gradnorm.pdf
compare_solvers_Aug_16_2019_083029_time_gradnorm.fig
compare_solvers_Aug_16_2019_083029_iter_gradnorm.pdf
compare_solvers_Aug_16_2019_083029_iter_gradnorm.fig
compare_solvers_Aug_16_2019_083029_gradhesscalls_gradnorm.pdf
compare_solvers_Aug_16_2019_083029_gradhesscalls_gradnorm.fig
compare_solvers_Aug_16_2019_075516_time_gradnorm.pdf
compare_solvers_Aug_16_2019_075516_time_gradnorm.fig
compare_solvers_Aug_16_2019_075516_iter_gradnorm.pdf
compare_solvers_Aug_16_2019_075516_iter_gradnorm.fig
compare_solvers_Aug_16_2019_075516_gradhesscalls_gradnorm.pdf
compare_solvers_Aug_16_2019_075516_gradhesscalls_gradnorm.fig
compare_solvers_Aug_16_2019_073046_time_gradnorm.pdf
compare_solvers_Aug_16_2019_073046_time_gradnorm.fig
compare_solvers_Aug_16_2019_073046_iter_gradnorm.pdf
compare_solvers_Aug_16_2019_073046_iter_gradnorm.fig
compare_solvers_Aug_16_2019_073046_gradhesscalls_gradnorm.pdf
compare_solvers_Aug_16_2019_073046_gradhesscalls_gradnorm.fig
compare_solvers_Aug_16_2019_072433_time_gradnorm.pdf
compare_solvers_Aug_16_2019_072433_time_gradnorm.fig
compare_solvers_Aug_16_2019_072433_iter_gradnorm.pdf
compare_solvers_Aug_16_2019_072433_iter_gradnorm.fig
compare_solvers_Aug_16_2019_072433_gradhesscalls_gradnorm.pdf
compare_solvers_Aug_16_2019_072433_gradhesscalls_gradnorm.fig
compare_solvers_Aug_12_2019_133722_time_gradnorm.pdf
compare_solvers_Aug_12_2019_133722_time_gradnorm.fig
compare_solvers_Aug_12_2019_133722_iter_gradnorm.pdf
compare_solvers_Aug_12_2019_133722_iter_gradnorm.fig
compare_solvers_Aug_12_2019_133722_gradhesscalls_gradnorm.pdf
compare_solvers_Aug_12_2019_133722_gradhesscalls_gradnorm.fig
compare_solvers_Aug_12_2019_095449_time_gradnorm.pdf
compare_solvers_Aug_12_2019_095449_time_gradnorm.fig
compare_solvers_Aug_12_2019_095449_iter_gradnorm.pdf
compare_solvers_Aug_12_2019_095449_iter_gradnorm.fig
compare_solvers_Aug_12_2019_095449_gradhesscalls_gradnorm.pdf
compare_solvers_Aug_12_2019_095449_gradhesscalls_gradnorm.fig
compare_solvers_Aug_24_2019_114323_time_gradnorm.pdf
compare_solvers_Aug_24_2019_114323_time_gradnorm.fig
compare_solvers_Aug_24_2019_114323_iter_gradnorm.pdf
compare_solvers_Aug_24_2019_114323_iter_gradnorm.fig
compare_solvers_Aug_24_2019_114323_gradhesscalls_gradnorm.pdf
compare_solvers_Aug_24_2019_114323_gradhesscalls_gradnorm.fig
compare_solvers_Aug_24_2019_113746_time_gradnorm.pdf
compare_solvers_Aug_24_2019_113746_time_gradnorm.fig
compare_solvers_Aug_24_2019_113746_iter_gradnorm.pdf
compare_solvers_Aug_24_2019_113746_iter_gradnorm.fig
compare_solvers_Aug_24_2019_113746_gradhesscalls_gradnorm.pdf
compare_solvers_Aug_24_2019_113746_gradhesscalls_gradnorm.fig
compare_solvers_Aug_21_2019_115147_time_gradnorm.pdf
compare_solvers_Aug_21_2019_115147_time_gradnorm.fig
compare_solvers_Aug_21_2019_115147_iter_gradnorm.pdf
compare_solvers_Aug_21_2019_115147_iter_gradnorm.fig
compare_solvers_Aug_21_2019_115147_gradhesscalls_gradnorm.pdf
compare_solvers_Aug_21_2019_115147_gradhesscalls_gradnorm.fig
compare_solvers_Aug_21_2019_114628_time_gradnorm.fig
compare_solvers_Aug_21_2019_114628_iter_gradnorm.fig
compare_solvers_Aug_21_2019_114628_gradhesscalls_gradnorm.fig
compare_solvers_Aug_21_2019_110828_time_gradnorm.fig
compare_solvers_Aug_21_2019_110828_iter_gradnorm.fig
compare_solvers_Aug_21_2019_110828_gradhesscalls_gradnorm.fig
compare_solvers_Aug_21_2019_110220_time_gradnorm.fig
compare_solvers_Aug_21_2019_110220_iter_gradnorm.fig
compare_solvers_Aug_21_2019_110220_gradhesscalls_gradnorm.fig
compare_solvers_Aug_21_2019_104748_time_gradnorm.fig
compare_solvers_Aug_21_2019_104748_iter_gradnorm.fig
compare_solvers_Aug_21_2019_104748_gradhesscalls_gradnorm.fig
compare_solvers_Aug_21_2019_103345_time_gradnorm.fig
compare_solvers_Aug_21_2019_103345_iter_gradnorm.fig
compare_solvers_Aug_21_2019_103345_gradhesscalls_gradnorm.fig
compare_solvers_Aug_21_2019_102814_time_gradnorm.pdf
compare_solvers_Aug_21_2019_102814_time_gradnorm.fig
compare_solvers_Aug_21_2019_102814_iter_gradnorm.pdf
compare_solvers_Aug_21_2019_102814_iter_gradnorm.fig
compare_solvers_Aug_21_2019_102814_gradhesscalls_gradnorm.pdf
compare_solvers_Aug_21_2019_102814_gradhesscalls_gradnorm.fig
compare_solvers_Aug_19_2019_185741_time_gradnorm.pdf
compare_solvers_Aug_19_2019_185741_time_gradnorm.fig
compare_solvers_Aug_19_2019_185741_iter_gradnorm.pdf
compare_solvers_Aug_19_2019_185741_iter_gradnorm.fig
compare_solvers_Aug_19_2019_185741_gradhesscalls_gradnorm.pdf
compare_solvers_Aug_19_2019_185741_gradhesscalls_gradnorm.fig
compare_solvers_Aug_19_2019_185257_time_gradnorm.pdf
compare_solvers_Aug_19_2019_185257_time_gradnorm.fig
compare_solvers_Aug_19_2019_185257_iter_gradnorm.pdf
compare_solvers_Aug_19_2019_185257_iter_gradnorm.fig
compare_solvers_Aug_19_2019_185257_gradhesscalls_gradnorm.pdf
compare_solvers_Aug_19_2019_185257_gradhesscalls_gradnorm.fig
compare_solvers_Aug_19_2019_165219_time_gradnorm.pdf
compare_solvers_Aug_19_2019_165219_time_gradnorm.fig
compare_solvers_Aug_19_2019_165219_iter_gradnorm.pdf
compare_solvers_Aug_19_2019_165219_iter_gradnorm.fig
compare_solvers_Aug_19_2019_165219_gradhesscalls_gradnorm.pdf
compare_solvers_Aug_19_2019_165219_gradhesscalls_gradnorm.fig
compare_solvers_Aug_19_2019_164720_time_gradnorm.pdf
compare_solvers_Aug_19_2019_164720_time_gradnorm.fig
compare_solvers_Aug_19_2019_164720_iter_gradnorm.pdf
compare_solvers_Aug_19_2019_164720_iter_gradnorm.fig
compare_solvers_Aug_19_2019_164720_gradhesscalls_gradnorm.pdf
compare_solvers_Aug_19_2019_164720_gradhesscalls_gradnorm.fig
